/*----------------------------------------------------------------*/
/*  Print
/*----------------------------------------------------------------*/
@media all {
    /* Never show page breaks in normal view */
    .page-break-after,
    .page-break-before {
        display: none;
    }
}

.muiltr-k0myhi-MuiButtonBase-root-MuiSwitch-switchBase.Mui-checked {
    color: #5b1b28;
}

.muiltr-k0myhi-MuiButtonBase-root-MuiSwitch-switchBase.Mui-checked+.MuiSwitch-track {
    background-color: #804a55
    ;
}

tr.MuiTableRow-root.muiltr-to4g25-MuiTableRow-root:hover {
    background: #dfd1d4;
}

tr.MuiTableRow-root.muiltr-to4g25-MuiTableRow-root:hover td:first-child {
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}

tr.MuiTableRow-root.muiltr-to4g25-MuiTableRow-root:hover td:last-child {
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}

thead tr.MuiTableRow-root.muiltr-to4g25-MuiTableRow-root:hover {
    background: none;
}

@media print {
    /* html and body tweaks */
    html, body {
        height: auto !important;
        overflow: initial !important;
        background: none
    }

    /* Page breaks */
    .page-break-after {
        display: block;
        page-break-after: always;
        position: relative;
    }

    .page-break-before {
        display: block;
        page-break-before: always;
        position: relative;
    }

    /* General styles */
    #fuse-toolbar,
    #fuse-footer,
    #fuse-navbar,
    #fuse-settings-presets,
    #fuse-layout .ps > .ps__rail-x,
    #fuse-layout .ps > .ps__rail-y {
        display: none !important;
    }

    #fuse-layout .ps {
        overflow: visible !important;
    }
}
